.instructions{
    border: 1px solid darken($off-white, 10%);
    border-radius: 5px;
    margin-top: $lg;
    margin-bottom: $lg;
    padding: $sm $lg;
}

li{
    font-size: 20px;
    word-spacing: 3px;
    line-height: 40px;
}


h1{
    color: $off-black;
    font-size: $md;
    text-align: center;
}

.lifeline{
    position: relative;
    top: -3px;
}
.lifeline-icon{
        color: $green;
        cursor: pointer;
    }

.browser-default{
    padding-left: 30px;
    margin-top: 10px;
    margin-bottom: 15px;
}

img{
    width: 80%;
    height: 50%;
}

.left,.right{
    background: #b5f1f8;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    display: flex;
    float: right !important;
    color: $off-black;
    
}
.right{
    gap: 4px;
}
@media (max-width: $md-breakpoint){
    .instructions img{
        width: 100% !important; 
        height: 200% !important;
    }
}

